@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #2c13a8;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    display: block;
    margin: 0 auto 30px;
    background: #998ed2;
}

body {
    /*background: url("images/background1.png") no-repeat center center fixed;
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url(myBgImage.png);*/
    background: linear-gradient(rgba(255,255,255,0.75), rgba(255, 255, 255, 0.75)), url("images/pattern-arrows-hex-turn.png");
}

footer {
    background-color: #998ed2;
    height: 100px;
    bottom: 0;

    /*
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; */

    text-align: center;
}

.container {
    margin: 10px;
    padding: 14px;
}

.menu {
    display: inline-block;
    padding: 0 20px;
    font-size: 22px;
}

.main-page {
    font-size: 32px;
}

.ul-menu {
    padding: 10px;
}

.authorization {
    right: 0;
}

.image_section > img {
    margin: 20px auto;
    display: block;
}

table {
    margin: 40px auto;
    font-size: 24px;
    border: #5e4fa9 5px dashed;
    padding: 10px 0;
    color: #140658;
}

tr, .authorization_section > * {
    text-align: center;
}

tr, .authorization_section > * {
    padding: 0 30px;
}

th {
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

.authorization_section {
    height: 300px;
    width: 300px;
    margin: 40px auto;
    font-size: 24px;
    border: #5e4fa9 5px dashed;
    padding: 10px 0;
    color: #140658;
}

.button {
    border: #5e4fa9 1px solid;
    border-radius: 3px;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    margin: 30px;
    font-size: 18px;   
}

.button:hover {
    background-color: rgb(133, 120, 194);
}

.check {
    text-align: center;
    margin: 30px;   
}

input {
    font-size: 18px; 
}

.text_input {
    font-size: 20px; 
}

.request_section {
    height: 700px;
    width: 500px;
    margin: 40px auto;
    font-size: 22px;
    border: #5e4fa9 5px dashed;
    padding: 10px 0;
    color: #140658;
    text-align: center;
}

.approval {
    font-size: 16px;
}

.radio {
    text-align: left;
}

.head {
    font-size: 26px;
}

.text_block {
    margin: 20px 0;
}